body {
    background-color: #99BD91
}

.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.ui-contain {
    width: 950px;
    height: 600px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.ui-box {
    width: 300px;
    height: 290px;
    background-color: white;
}

.ui-box-pic {
    box-sizing: border-box;
    width: auto;
    height: 200px;
    border-bottom: 1px solid black;
}

.ui-box-desc {
    box-sizing: border-box;
    width: auto;
    height: 90px;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    background-color: #FFE6F4;
    font-size: 12px;
}

.ui-box-desc-title {
    box-sizing: border-box;
    width: 270px;
    height: 20px;
    padding-left: 10px;
}

.ui-box-desc-mess {
    box-sizing: border-box;
    width: 270px;
    height: 20px;
    padding-left: 10px;
    color: #F70B42;
}

.ui-box-desc-price {
    box-sizing: border-box;
    width: 270px;
    height: 30px;
    padding-left: 10px;

}

.ui-box-desc-price-now {
    width: 150px;
    font-size: 20px;
    font-weight: bold;
    color: #F70B42;;
}

.ui-box-desc-price-down{
    margin: 10px 0 0 0;
    width: 220px;
    justify-content: space-between;
}
