.ui-box {
    width: 500px;
    height: 300px;

}

.ui-box-nav {
    display: flex;
    flex-wrap: wrap;
}

.ui-box-nav-item {
    box-sizing: border-box;
    width: 100px;
    height: 30px;
    border: 1px solid black;
}

.ui-box-cont {

}

.ui-box-cont-item {
    box-sizing: border-box;
    width: 500px;
    height: 270px;
    border: 1px solid black;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bgc-gray {
    background-color: #6d6969;
}

.none {
    display: none;
}